<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 300px;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            background-color: #0088cc;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #006699;
        }

        p {
            margin-top: 10px;
            text-align: center;
        }

        a {
            color: #0088cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <div class="container">
        <h1>Sign Up</h1>
        <form action="/admin/signUp" method = "post">
            <input type="text" placeholder="User name" name="Username" required>
            <input type="text" placeholder="First name" name="First_Name">
            <input type="text" placeholder="Last name" name="Last_Name">
            <input type="email" placeholder="Email" name="Email" required>
            <input type="password" placeholder="Password" name="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Log In</a></p>
    </div>
</body>

</html>